<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="bmpTech" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="bmpTech" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="bmpTech" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="bmpTech" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Akber Iqbal | BMP Tech test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="lib/angular/angular.js"></script>
    <script src="./services/api.js"></script>
    <script src="./app.js"></script>
    <link rel="stylesheet" href="app.css">
</head>

<body ng-controller="MainCtrl" class="container">
    <div id="progressBarsArea">
        <ng-container ng-repeat="item in apiData.bars track by $index">
            <bar val="item" limit="apiData.limit"></bar>
        </ng-container>
    </div>

    <div class='controls'>
        <select ng-model="selectedBar" ng-change="selectionChange()">
            <option ng-repeat="x in apiData.bars track by $index" value="{{$index}}"> Progress{{$index+1}}</option>
        </select>
        <button type="button" ng-repeat="btnValue in apiData.buttons track by $index"
            ng-click="changeVal(btnValue)">val:
            {{btnValue}}</button>
    </div>
    <p class='errorMsg'>{{warningMessage}}</p>
</body>
</html>